:root {
	--color-white: #FFFFFF;
	--color-red: #F04451;
	--color-dark: rgba(240, 68, 81, 0.25);

	--border: 1px var(--color-red);
	--border-radius: 15px;

	--shadow: 0px 4px 25px 0px var(--color-dark);

	--font-family-base: 'Raleway', sans-serif;

	--container-header-width: 1345px;
	--container-main-width: 1693px;
	--container-main-height: 803px;
	--container-padding-x: 20px;
	--container-section-item: 620px;

	--input-height: 57px;
	--button-height: 69px;
	--button-height-header: 61px;

	--transition-duration: 0.2s;
}